workflows/hwnEcKiEfPMr5Qml_send-workflow-errors-to-slack.json
{
  "0": {
    "createdAt": "2025-09-06T12:58:53.336Z",
    "updatedAt": "2025-09-21T14:26:37.920Z",
    "id": "hwnEcKiEfPMr5Qml",
    "name": "Send WorkFlow errors to Slack",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "a45eb80e-8327-4a01-8e97-998cc36b9937",
        "name": "Error Trigger"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "z2xoE8Na4uklD4DD",
            "mode": "list",
            "cachedResultName": "Update Workflows on Git"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          192,
          336
        ],
        "id": "669f5fb8-9bf5-491c-9d88-20cf05b17836",
        "name": "Execute: Update Workflows on Git"
      },
      {
        "parameters": {
          "events": [
            "update",
            "activate"
          ]
        },
        "type": "n8n-nodes-base.n8nTrigger",
        "typeVersion": 1,
        "position": [
          16,
          336
        ],
        "id": "9bf2163a-1dae-4f7c-8480-91731ab00c8f",
        "name": "Trigger on Activate or Active Workflow Updated"
      },
      {
        "parameters": {
          "content": "Save Workflow to Git:\n- when Activated\n- when saved while active.",
          "height": 336,
          "width": 496
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -80,
          224
        ],
        "id": "18bca966-a649-4918-9ea2-6f9740a328b6",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "chatId": "690550078",
          "text": "=This workflow {{$json[\"workflow\"][\"name\"]}} failed.\nError message: {{$json[\"execution\"][\"error\"][\"message\"]}}\nAdditional messages: {{ $json.execution.error.messages }}\nLast node executed: {{$json[\"execution\"][\"lastNodeExecuted\"]}}\nView execution: {{$json[\"execution\"][\"url\"]}}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          256,
          0
        ],
        "id": "3432b9e1-7725-4dfc-b849-d26c93d58705",
        "name": "Send a text message",
        "webhookId": "a3f73564-c74b-4bec-95e4-5abcd5996549",
        "credentials": {
          "telegramApi": {
            "id": "CP9P9JO5UYpAm5XV",
            "name": "Telegram account"
          }
        }
      }
    ],
    "connections": {
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Trigger on Activate or Active Workflow Updated": {
        "main": [
          [
            {
              "node": "Execute: Update Workflows on Git",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "126f6fb2-924e-44c5-acca-75407ebc2202",
    "triggerCount": 1,
    "tags": [],
    "shared": [
      {
        "createdAt": "2025-09-06T12:58:53.336Z",
        "updatedAt": "2025-09-06T12:58:53.336Z",
        "role": "workflow:owner",
        "workflowId": "hwnEcKiEfPMr5Qml",
        "projectId": "sKh7XMvKoqNv3AgS",
        "project": {
          "createdAt": "2025-08-13T12:38:41.348Z",
          "updatedAt": "2025-08-13T13:46:53.556Z",
          "id": "sKh7XMvKoqNv3AgS",
          "name": "Jurriaan Koops <jurriaan@kaldejo.nl>",
          "type": "personal",
          "icon": null,
          "description": null
        }
      }
    ]
  }
}