workflows/z2xoE8Na4uklD4DD_backup-to-git.json
{
  "0": {
    "createdAt": "2025-09-06T09:29:34.864Z",
    "updatedAt": "2025-09-06T12:03:43.128Z",
    "id": "z2xoE8Na4uklD4DD",
    "name": "Backup to git",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "events": [
            "update",
            "activate"
          ]
        },
        "type": "n8n-nodes-base.n8nTrigger",
        "typeVersion": 1,
        "position": [
          -608,
          -656
        ],
        "id": "59ed8ae4-e35c-4f54-8be7-3c05e842d7cc",
        "name": "n8n Trigger"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "z2xoE8Na4uklD4DD",
            "mode": "list",
            "cachedResultName": "Backup to git"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          -400,
          -656
        ],
        "id": "a6caf09d-ec05-4bc1-a4d1-3129bf2629cb",
        "name": "Execute Workflow1"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
          "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
          "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $json.workflow_file_name }}",
          "asBinaryProperty": false,
          "additionalParameters": {}
        },
        "name": "GitHub",
        "type": "n8n-nodes-base.github",
        "position": [
          1152,
          -336
        ],
        "typeVersion": 1,
        "alwaysOutputData": true,
        "id": "846ec291-0799-4108-8283-2b0fec47d73d",
        "webhookId": "5aef3a1e-bab9-46e8-9a92-57d890e68f92",
        "credentials": {
          "githubApi": {
            "id": "jFBgAmndfvYB0FIu",
            "name": "GitHub account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {},
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "position": [
          1456,
          -272
        ],
        "typeVersion": 1,
        "id": "31c97e21-1fab-45b4-b364-b33da22a971e"
      },
      {
        "parameters": {
          "dataType": "string",
          "value1": "={{$json[\"github_status\"]}}",
          "rules": {
            "rules": [
              {
                "value2": "same"
              },
              {
                "value2": "different",
                "output": 1
              },
              {
                "value2": "new",
                "output": 2
              }
            ]
          }
        },
        "name": "github_status",
        "type": "n8n-nodes-base.switch",
        "position": [
          1760,
          -272
        ],
        "typeVersion": 1,
        "id": "fa25fc9c-50c8-4de2-9204-cb00bc3c9517"
      },
      {
        "parameters": {},
        "name": "same",
        "type": "n8n-nodes-base.noOp",
        "position": [
          1968,
          -592
        ],
        "typeVersion": 1,
        "id": "19b535d9-d146-4946-8d6f-82f94c285e69"
      },
      {
        "parameters": {},
        "name": "different",
        "type": "n8n-nodes-base.noOp",
        "position": [
          1968,
          -304
        ],
        "typeVersion": 1,
        "id": "c0ebf981-fbd2-4512-8d8c-4a42888f1c6c"
      },
      {
        "parameters": {},
        "name": "new",
        "type": "n8n-nodes-base.noOp",
        "position": [
          1968,
          -112
        ],
        "typeVersion": 1,
        "id": "25e0d9d6-cf29-4667-9e2d-26880c2d7800"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
          "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
          "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json",
          "fileContent": "={{$node[\"isDiffOrNew1\"].json[\"n8n_data_stringy\"]}}",
          "commitMessage": "=[N8N Backup] {{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json ({{$json[\"github_status\"]}})"
        },
        "name": "GitHub Edit",
        "type": "n8n-nodes-base.github",
        "position": [
          2512,
          -96
        ],
        "typeVersion": 1,
        "id": "c25a3492-cb39-4374-951f-6d4cc7400080",
        "webhookId": "f70e9651-60d8-4fa1-8916-58e15bd76ebb",
        "credentials": {
          "githubApi": {
            "id": "jFBgAmndfvYB0FIu",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "={{ $('Globals').item.json.repo.owner }}",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
            "mode": "name"
          },
          "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Extract workflow info').item.json.workflow_file_name }}.json",
          "fileContent": "={{$node[\"isDiffOrNew1\"].json[\"n8n_data_stringy\"]}}",
          "commitMessage": "=Update {{ $('Extract workflow info').item.json.workflow_name }}({{$json[\"github_status\"]}})"
        },
        "name": "GitHub Create",
        "type": "n8n-nodes-base.github",
        "position": [
          2160,
          -112
        ],
        "typeVersion": 1,
        "id": "d65a4476-12ed-492e-a9ff-3074852eab92",
        "webhookId": "102d63c7-3f77-461e-ba17-a89a3a170168",
        "credentials": {
          "githubApi": {
            "id": "jFBgAmndfvYB0FIu",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "batchSize": 1,
          "options": {}
        },
        "name": "OneAtATime",
        "type": "n8n-nodes-base.splitInBatches",
        "position": [
          16,
          -240
        ],
        "typeVersion": 1,
        "id": "5c2b9664-a942-4cd6-8dd5-999d2854d108"
      },
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "repo.owner",
                "value": "JurriaanK"
              },
              {
                "name": "repo.name",
                "value": "kaldejo-n8n-workflows"
              },
              {
                "name": "repo.path",
                "value": "workflows/"
              },
              {
                "name": "workflow_id",
                "value": "z2xoE8Na4uklD4DD"
              }
            ]
          },
          "options": {}
        },
        "name": "Globals",
        "type": "n8n-nodes-base.set",
        "position": [
          -720,
          -272
        ],
        "typeVersion": 1,
        "id": "d020d84d-0164-4e5f-85ef-f169f8c0cbf2"
      },
      {
        "parameters": {
          "functionCode": "// File Returned with Content\nif (Object.keys(items[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = eval(\"(\"+Buffer.from(items[0].json.content, 'base64').toString()+\")\");\n  var n8nWorkflow = (items[1].json.data);\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    items[0].json.github_status = \"same\";\n    items[0].json.content_decoded = orderedOriginal;\n  } else {\n    items[0].json.github_status = \"different\";\n    items[0].json.content_decoded = orderedOriginal;\n    items[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = (items[1].json.data);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  items[0].json.github_status = \"new\";\n  items[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn items;"
        },
        "name": "isDiffOrNew1",
        "type": "n8n-nodes-base.function",
        "position": [
          1616,
          -272
        ],
        "typeVersion": 1,
        "id": "f72364d8-0add-478c-b23f-4c7bdbeacc83"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -944,
          -272
        ],
        "id": "adec9392-5720-45c6-95f1-c4f748796a50",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "fileSelector": "=workflows/{{ $('OneAtATime').item.json.workflow_id }}.json",
          "options": {}
        },
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          496,
          -144
        ],
        "id": "a1908170-e02d-4e76-bb95-740aee241b66",
        "name": "Read/Write Files from Disk"
      },
      {
        "parameters": {
          "command": "=n8n export:workflow --id {{ $json.workflow_id }} --output workflows/{{ $json.workflow_id }}.json\n"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          304,
          -144
        ],
        "id": "c4a572c7-6a1b-4986-a33b-045b77e5309e",
        "name": "Execute Command"
      },
      {
        "parameters": {
          "operation": "fromJson",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          640,
          -144
        ],
        "id": "ad25aff0-5a6f-4e15-83e6-8b3184531cde",
        "name": "Extract from File"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5e07a933-9d5e-4382-8e03-dd78db6803c2",
                "name": "workflow_file_name",
                "value": "={{ $('Globals').item.json.workflow_id }}_{{ $json.data[0].name.toLowerCase().trim().replace(/[^a-z0-9-_]/gi, '-').replace(/-+/g, '-');  }}",
                "type": "string"
              },
              {
                "id": "74233adf-7b98-4c96-be48-809bfc9d1850",
                "name": "workflow_id",
                "value": "={{ $('Globals').item.json.workflow_id }}",
                "type": "string"
              },
              {
                "id": "1987c7ca-f6cc-4103-b8aa-c4dfa98530d9",
                "name": "workflow_name",
                "value": "={{ $json.data[0].name }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          864,
          -336
        ],
        "id": "f1e6894b-16eb-455b-8511-d6217df500e3",
        "name": "Extract workflow info"
      }
    ],
    "connections": {
      "n8n Trigger": {
        "main": [
          [
            {
              "node": "Execute Workflow1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "new": {
        "main": [
          [
            {
              "node": "GitHub Create",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "same": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "isDiffOrNew1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Globals": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "different": {
        "main": [
          [
            {
              "node": "GitHub Edit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OneAtATime": {
        "main": [
          [
            {
              "node": "Execute Command",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub Edit": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub Create": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "github_status": {
        "main": [
          [
            {
              "node": "same",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "different",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "new",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "isDiffOrNew1": {
        "main": [
          [
            {
              "node": "github_status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Globals",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read/Write Files from Disk": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Command": {
        "main": [
          [
            {
              "node": "Read/Write Files from Disk",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            },
            {
              "node": "Extract workflow info",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract workflow info": {
        "main": [
          [
            {
              "node": "GitHub",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {
      "new": [
        {
          "json": {
            "error": "The resource you are requesting could not be found",
            "github_status": "new",
            "n8n_data_stringy": "{\n  \"0\": {\n    \"createdAt\": \"2025-09-06T09:29:34.864Z\",\n    \"updatedAt\": \"2025-09-06T10:46:15.531Z\",\n    \"id\": \"z2xoE8Na4uklD4DD\",\n    \"name\": \"Backup to git\",\n    \"active\": false,\n    \"isArchived\": false,\n    \"nodes\": [\n      {\n        \"parameters\": {\n          \"events\": [\n            \"update\",\n            \"activate\"\n          ]\n        },\n        \"type\": \"n8n-nodes-base.n8nTrigger\",\n        \"typeVersion\": 1,\n        \"position\": [\n          -608,\n          -656\n        ],\n        \"id\": \"59ed8ae4-e35c-4f54-8be7-3c05e842d7cc\",\n        \"name\": \"n8n Trigger\"\n      },\n      {\n        \"parameters\": {\n          \"workflowId\": {\n            \"__rl\": true,\n            \"value\": \"z2xoE8Na4uklD4DD\",\n            \"mode\": \"list\",\n            \"cachedResultName\": \"Backup to git\"\n          },\n          \"workflowInputs\": {\n            \"mappingMode\": \"defineBelow\",\n            \"value\": {},\n            \"matchingColumns\": [],\n            \"schema\": [],\n            \"attemptToConvertTypes\": false,\n            \"convertFieldsToString\": true\n          },\n          \"options\": {}\n        },\n        \"type\": \"n8n-nodes-base.executeWorkflow\",\n        \"typeVersion\": 1.2,\n        \"position\": [\n          -400,\n          -656\n        ],\n        \"id\": \"a6caf09d-ec05-4bc1-a4d1-3129bf2629cb\",\n        \"name\": \"Execute Workflow1\"\n      },\n      {\n        \"parameters\": {\n          \"resource\": \"file\",\n          \"operation\": \"get\",\n          \"owner\": \"={{$node[\\\"Globals\\\"].json[\\\"repo\\\"][\\\"owner\\\"]}}\",\n          \"repository\": \"={{$node[\\\"Globals\\\"].json[\\\"repo\\\"][\\\"name\\\"]}}\",\n          \"filePath\": \"={{$node[\\\"Globals\\\"].json[\\\"repo\\\"][\\\"path\\\"]}}{{$json.workflow_id}}.json\",\n          \"asBinaryProperty\": false,\n          \"additionalParameters\": {}\n        },\n        \"name\": \"GitHub\",\n        \"type\": \"n8n-nodes-base.github\",\n        \"position\": [\n          736,\n          -320\n        ],\n        \"typeVersion\": 1,\n        \"alwaysOutputData\": true,\n        \"id\": \"846ec291-0799-4108-8283-2b0fec47d73d\",\n        \"webhookId\": \"5aef3a1e-bab9-46e8-9a92-57d890e68f92\",\n        \"credentials\": {\n          \"githubApi\": {\n            \"id\": \"jFBgAmndfvYB0FIu\",\n            \"name\": \"GitHub account\"\n          }\n        },\n        \"continueOnFail\": true\n      },\n      {\n        \"parameters\": {},\n        \"name\": \"Merge\",\n        \"type\": \"n8n-nodes-base.merge\",\n        \"position\": [\n          1248,\n          -272\n        ],\n        \"typeVersion\": 1,\n        \"id\": \"31c97e21-1fab-45b4-b364-b33da22a971e\"\n      },\n      {\n        \"parameters\": {\n          \"dataType\": \"string\",\n          \"value1\": \"={{$json[\\\"github_status\\\"]}}\",\n          \"rules\": {\n            \"rules\": [\n              {\n                \"value2\": \"same\"\n              },\n              {\n                \"value2\": \"different\",\n                \"output\": 1\n              },\n              {\n                \"value2\": \"new\",\n                \"output\": 2\n              }\n            ]\n          }\n        },\n        \"name\": \"github_status\",\n        \"type\": \"n8n-nodes-base.switch\",\n        \"position\": [\n          1552,\n          -272\n        ],\n        \"typeVersion\": 1,\n        \"id\": \"fa25fc9c-50c8-4de2-9204-cb00bc3c9517\"\n      },\n      {\n        \"parameters\": {},\n        \"name\": \"same\",\n        \"type\": \"n8n-nodes-base.noOp\",\n        \"position\": [\n          1760,\n          -592\n        ],\n        \"typeVersion\": 1,\n        \"id\": \"19b535d9-d146-4946-8d6f-82f94c285e69\"\n      },\n      {\n        \"parameters\": {},\n        \"name\": \"different\",\n        \"type\": \"n8n-nodes-base.noOp\",\n        \"position\": [\n          1760,\n          -304\n        ],\n        \"typeVersion\": 1,\n        \"id\": \"c0ebf981-fbd2-4512-8d8c-4a42888f1c6c\"\n      },\n      {\n        \"parameters\": {},\n        \"name\": \"new\",\n        \"type\": \"n8n-nodes-base.noOp\",\n        \"position\": [\n          1760,\n          -112\n        ],\n        \"typeVersion\": 1,\n        \"id\": \"25e0d9d6-cf29-4667-9e2d-26880c2d7800\"\n      },\n      {\n        \"parameters\": {\n          \"resource\": \"file\",\n          \"operation\": \"edit\",\n          \"owner\": \"={{$node[\\\"Globals\\\"].json[\\\"repo\\\"][\\\"owner\\\"]}}\",\n          \"repository\": \"={{$node[\\\"Globals\\\"].json[\\\"repo\\\"][\\\"name\\\"]}}\",\n          \"filePath\": \"={{$node[\\\"Globals\\\"].json[\\\"repo\\\"][\\\"path\\\"]}}{{$node[\\\"N8N Workflow Detail\\\"].json[\\\"data\\\"][\\\"name\\\"]}}.json\",\n          \"fileContent\": \"={{$node[\\\"isDiffOrNew1\\\"].json[\\\"n8n_data_stringy\\\"]}}\",\n          \"commitMessage\": \"=[N8N Backup] {{$node[\\\"N8N Workflow Detail\\\"].json[\\\"data\\\"][\\\"name\\\"]}}.json ({{$json[\\\"github_status\\\"]}})\"\n        },\n        \"name\": \"GitHub Edit\",\n        \"type\": \"n8n-nodes-base.github\",\n        \"position\": [\n          2304,\n          -96\n        ],\n        \"typeVersion\": 1,\n        \"id\": \"c25a3492-cb39-4374-951f-6d4cc7400080\",\n        \"webhookId\": \"f70e9651-60d8-4fa1-8916-58e15bd76ebb\",\n        \"credentials\": {\n          \"githubApi\": {\n            \"id\": \"jFBgAmndfvYB0FIu\",\n            \"name\": \"GitHub account\"\n          }\n        }\n      },\n      {\n        \"parameters\": {\n          \"resource\": \"file\",\n          \"owner\": \"={{$node[\\\"Globals\\\"].json[\\\"repo\\\"][\\\"owner\\\"]}}\",\n          \"repository\": \"={{$node[\\\"Globals\\\"].json[\\\"repo\\\"][\\\"name\\\"]}}\",\n          \"filePath\": \"={{$node[\\\"Globals\\\"].json[\\\"repo\\\"][\\\"path\\\"]}}{{$node[\\\"N8N Workflow Detail\\\"].json[\\\"data\\\"][\\\"name\\\"]}}.json\",\n          \"fileContent\": \"={{$node[\\\"isDiffOrNew1\\\"].json[\\\"n8n_data_stringy\\\"]}}\",\n          \"commitMessage\": \"=[N8N Backup] {{$node[\\\"N8N Workflow Detail\\\"].json[\\\"data\\\"][\\\"name\\\"]}}.json ({{$json[\\\"github_status\\\"]}})\"\n        },\n        \"name\": \"GitHub Create\",\n        \"type\": \"n8n-nodes-base.github\",\n        \"position\": [\n          1952,\n          -112\n        ],\n        \"typeVersion\": 1,\n        \"id\": \"d65a4476-12ed-492e-a9ff-3074852eab92\",\n        \"webhookId\": \"102d63c7-3f77-461e-ba17-a89a3a170168\",\n        \"credentials\": {\n          \"githubApi\": {\n            \"id\": \"jFBgAmndfvYB0FIu\",\n            \"name\": \"GitHub account\"\n          }\n        }\n      },\n      {\n        \"parameters\": {\n          \"batchSize\": 1,\n          \"options\": {}\n        },\n        \"name\": \"OneAtATime\",\n        \"type\": \"n8n-nodes-base.splitInBatches\",\n        \"position\": [\n          16,\n          -240\n        ],\n        \"typeVersion\": 1,\n        \"id\": \"5c2b9664-a942-4cd6-8dd5-999d2854d108\"\n      },\n      {\n        \"parameters\": {\n          \"values\": {\n            \"string\": [\n              {\n                \"name\": \"repo.owner\",\n                \"value\": \"JurriaanK\"\n              },\n              {\n                \"name\": \"repo.name\",\n                \"value\": \"kaldejo-n8n-workflows\"\n              },\n              {\n                \"name\": \"repo.path\",\n                \"value\": \"workflows/\"\n              },\n              {\n                \"name\": \"workflow_id\",\n                \"value\": \"z2xoE8Na4uklD4DD\"\n              }\n            ]\n          },\n          \"options\": {}\n        },\n        \"name\": \"Globals\",\n        \"type\": \"n8n-nodes-base.set\",\n        \"position\": [\n          -720,\n          -272\n        ],\n        \"typeVersion\": 1,\n        \"id\": \"d020d84d-0164-4e5f-85ef-f169f8c0cbf2\"\n      },\n      {\n        \"parameters\": {\n          \"functionCode\": \"// File Returned with Content\\nif (Object.keys(items[0].json).includes(\\\"content\\\")) {\\n  // Get JSON Objects\\n  var origWorkflow = eval(\\\"(\\\"+Buffer.from(items[0].json.content, 'base64').toString()+\\\")\\\");\\n  var n8nWorkflow = (items[1].json.data);\\n  \\n  // Order JSON Objects\\n  var orderedOriginal = {}\\n  var orderedActual = {}\\n  \\n  Object.keys(origWorkflow).sort().forEach(function(key) {\\n    orderedOriginal[key] = origWorkflow[key];\\n  });\\n  \\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\\n    orderedActual[key] = n8nWorkflow[key];\\n  });\\n  \\n  // Determine Difference\\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\\n    items[0].json.github_status = \\\"same\\\";\\n    items[0].json.content_decoded = orderedOriginal;\\n  } else {\\n    items[0].json.github_status = \\\"different\\\";\\n    items[0].json.content_decoded = orderedOriginal;\\n    items[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\\n  }\\n// No File Returned / New Workflow\\n} else {\\n  // Order JSON Object\\n  var n8nWorkflow = (items[1].json.data);\\n  var orderedActual = {}\\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\\n    orderedActual[key] = n8nWorkflow[key];\\n  });\\n  \\n  // Proper Formatting\\n  items[0].json.github_status = \\\"new\\\";\\n  items[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\\n}\\n\\n// Return Items\\nreturn items;\"\n        },\n        \"name\": \"isDiffOrNew1\",\n        \"type\": \"n8n-nodes-base.function\",\n        \"position\": [\n          1408,\n          -272\n        ],\n        \"typeVersion\": 1,\n        \"id\": \"f72364d8-0add-478c-b23f-4c7bdbeacc83\"\n      },\n      {\n        \"parameters\": {\n          \"inputSource\": \"passthrough\"\n        },\n        \"type\": \"n8n-nodes-base.executeWorkflowTrigger\",\n        \"typeVersion\": 1.1,\n        \"position\": [\n          -944,\n          -272\n        ],\n        \"id\": \"adec9392-5720-45c6-95f1-c4f748796a50\",\n        \"name\": \"When Executed by Another Workflow\"\n      },\n      {\n        \"parameters\": {\n          \"fileSelector\": \"=workflows/{{ $('OneAtATime').item.json.workflow_id }}.json\",\n          \"options\": {}\n        },\n        \"type\": \"n8n-nodes-base.readWriteFile\",\n        \"typeVersion\": 1,\n        \"position\": [\n          752,\n          -144\n        ],\n        \"id\": \"a1908170-e02d-4e76-bb95-740aee241b66\",\n        \"name\": \"Read/Write Files from Disk\"\n      },\n      {\n        \"parameters\": {\n          \"command\": \"=n8n export:workflow --id {{ $json.workflow_id }} --output workflows/{{ $json.workflow_id }}.json\\n\"\n        },\n        \"type\": \"n8n-nodes-base.executeCommand\",\n        \"typeVersion\": 1,\n        \"position\": [\n          416,\n          -144\n        ],\n        \"id\": \"c4a572c7-6a1b-4986-a33b-045b77e5309e\",\n        \"name\": \"Execute Command\"\n      },\n      {\n        \"parameters\": {\n          \"operation\": \"fromJson\",\n          \"options\": {}\n        },\n        \"type\": \"n8n-nodes-base.extractFromFile\",\n        \"typeVersion\": 1,\n        \"position\": [\n          960,\n          -144\n        ],\n        \"id\": \"ad25aff0-5a6f-4e15-83e6-8b3184531cde\",\n        \"name\": \"Extract from File\"\n      }\n    ],\n    \"connections\": {\n      \"n8n Trigger\": {\n        \"main\": [\n          [\n            {\n              \"node\": \"Execute Workflow1\",\n              \"type\": \"main\",\n              \"index\": 0\n            }\n          ]\n        ]\n      },\n      \"new\": {\n        \"main\": [\n          [\n            {\n              \"node\": \"GitHub Create\",\n              \"type\": \"main\",\n              \"index\": 0\n            }\n          ]\n        ]\n      },\n      \"same\": {\n        \"main\": [\n          [\n            {\n              \"node\": \"OneAtATime\",\n              \"type\": \"main\",\n              \"index\": 0\n            }\n          ]\n        ]\n      },\n      \"Merge\": {\n        \"main\": [\n          [\n            {\n              \"node\": \"isDiffOrNew1\",\n              \"type\": \"main\",\n              \"index\": 0\n            }\n          ]\n        ]\n      },\n      \"GitHub\": {\n        \"main\": [\n          [\n            {\n              \"node\": \"Merge\",\n              \"type\": \"main\",\n              \"index\": 0\n            }\n          ]\n        ]\n      },\n      \"Globals\": {\n        \"main\": [\n          [\n            {\n              \"node\": \"OneAtATime\",\n              \"type\": \"main\",\n              \"index\": 0\n            }\n          ]\n        ]\n      },\n      \"different\": {\n        \"main\": [\n          [\n            {\n              \"node\": \"GitHub Edit\",\n              \"type\": \"main\",\n              \"index\": 0\n            }\n          ]\n        ]\n      },\n      \"OneAtATime\": {\n        \"main\": [\n          [\n            {\n              \"node\": \"GitHub\",\n              \"type\": \"main\",\n              \"index\": 0\n            },\n            {\n              \"node\": \"Execute Command\",\n              \"type\": \"main\",\n              \"index\": 0\n            }\n          ]\n        ]\n      },\n      \"GitHub Edit\": {\n        \"main\": [\n          [\n            {\n              \"node\": \"OneAtATime\",\n              \"type\": \"main\",\n              \"index\": 0\n            }\n          ]\n        ]\n      },\n      \"GitHub Create\": {\n        \"main\": [\n          [\n            {\n              \"node\": \"OneAtATime\",\n              \"type\": \"main\",\n              \"index\": 0\n            }\n          ]\n        ]\n      },\n      \"github_status\": {\n        \"main\": [\n          [\n            {\n              \"node\": \"same\",\n              \"type\": \"main\",\n              \"index\": 0\n            }\n          ],\n          [\n            {\n              \"node\": \"different\",\n              \"type\": \"main\",\n              \"index\": 0\n            }\n          ],\n          [\n            {\n              \"node\": \"new\",\n              \"type\": \"main\",\n              \"index\": 0\n            }\n          ]\n        ]\n      },\n      \"isDiffOrNew1\": {\n        \"main\": [\n          [\n            {\n              \"node\": \"github_status\",\n              \"type\": \"main\",\n              \"index\": 0\n            }\n          ]\n        ]\n      },\n      \"When Executed by Another Workflow\": {\n        \"main\": [\n          [\n            {\n              \"node\": \"Globals\",\n              \"type\": \"main\",\n              \"index\": 0\n            }\n          ]\n        ]\n      },\n      \"Read/Write Files from Disk\": {\n        \"main\": [\n          [\n            {\n              \"node\": \"Extract from File\",\n              \"type\": \"main\",\n              \"index\": 0\n            }\n          ]\n        ]\n      },\n      \"Execute Command\": {\n        \"main\": [\n          [\n            {\n              \"node\": \"Read/Write Files from Disk\",\n              \"type\": \"main\",\n              \"index\": 0\n            }\n          ]\n        ]\n      },\n      \"Extract from File\": {\n        \"main\": [\n          [\n            {\n              \"node\": \"Merge\",\n              \"type\": \"main\",\n              \"index\": 1\n            }\n          ]\n        ]\n      }\n    },\n    \"settings\": {\n      \"executionOrder\": \"v1\"\n    },\n    \"staticData\": null,\n    \"meta\": {\n      \"templateCredsSetupCompleted\": true\n    },\n    \"pinData\": {},\n    \"versionId\": \"42a603ad-3586-46f1-9aaf-d0174fa872f8\",\n    \"triggerCount\": 0,\n    \"tags\": [],\n    \"shared\": [\n      {\n        \"createdAt\": \"2025-09-06T09:29:34.864Z\",\n        \"updatedAt\": \"2025-09-06T09:29:34.864Z\",\n        \"role\": \"workflow:owner\",\n        \"workflowId\": \"z2xoE8Na4uklD4DD\",\n        \"projectId\": \"sKh7XMvKoqNv3AgS\",\n        \"project\": {\n          \"createdAt\": \"2025-08-13T12:38:41.348Z\",\n          \"updatedAt\": \"2025-08-13T13:46:53.556Z\",\n          \"id\": \"sKh7XMvKoqNv3AgS\",\n          \"name\": \"Jurriaan Koops <jurriaan@kaldejo.nl>\",\n          \"type\": \"personal\",\n          \"icon\": null,\n          \"description\": null\n        }\n      }\n    ]\n  }\n}"
          }
        }
      ]
    },
    "versionId": "bf50ff3a-65e5-48d3-9190-b15ee743f741",
    "triggerCount": 0,
    "tags": [],
    "shared": [
      {
        "createdAt": "2025-09-06T09:29:34.864Z",
        "updatedAt": "2025-09-06T09:29:34.864Z",
        "role": "workflow:owner",
        "workflowId": "z2xoE8Na4uklD4DD",
        "projectId": "sKh7XMvKoqNv3AgS",
        "project": {
          "createdAt": "2025-08-13T12:38:41.348Z",
          "updatedAt": "2025-08-13T13:46:53.556Z",
          "id": "sKh7XMvKoqNv3AgS",
          "name": "Jurriaan Koops <jurriaan@kaldejo.nl>",
          "type": "personal",
          "icon": null,
          "description": null
        }
      }
    ]
  }
}